circle{
    fill : none;
    stroke:  blue;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 100;
}
#box2 {
    overflow: hidden;
    transition: width 0.5s;
  }
.max-w-1000{
    max-width: 1000px;
}
